
alias kx=kubectl-ctx
alias kn=kubectl-ns
alias tf=terraform
alias k9r="k9s --readonly"
alias zshprofile="time ZSH_DEBUGRC=1 zsh -i -c exit"

{{ if eq .chezmoi.os "darwin" }}
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ end }}