[commit]
	gpgsign = true
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = F31D65DBCC3A0E21
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
