theme = "iTerm2 Default"
font-family = "GohuFont uni14 Nerd Font Mono"
background-blur = true
background-opacity = 0.8
split-divider-color = magenta
macos-titlebar-style = tabs
macos-icon = "paper"
{{- $fish := lookPath "fish" }}
{{- if $fish }}
command = {{ $fish }}
{{- end }}
