k9s:
  refreshRate: 2
  maxConnRetry: 5
  ui:
    enableMouse: false
    headless: true
    logoless: true
    crumbsless: false
    reactive: false
    noIcons: false
  readOnly: false
  logger:
    tail: 100
    buffer: 5000
    sinceSeconds: 60
    textWrap: false
    showTime: false
  thresholds:
    cpu:
      critical: 90
      warn: 70
    memory:
      critical: 90
      warn: 70
